@use '../sass/abstracts/mixins';

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item{
        width: 50%;
        text-align: center;
        @include mixins.breakpoint(tablet){
            width: calc(100% / 3);
        }
        @include mixins.breakpoint(laptop){
            width: calc(100% / 4);
        }
    }
}